/* Navbar */
.navbar {
	position: relative;
	z-index: 1;
}
.navbar-brand {
	font-family: Chapaza;
	font-size: 25px;
}
.navbar-nav .ml-auto {
	color: black;
}

/* Tentang */
.tentang {
	margin-top: 50px;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}
.tentang .container {
	margin-top: 20px;
}

.tentang .container .row .col-lg-6 {
	margin-top: 20px;
}

.tentang .container .col-lg-14 {
	margin-top: 20px;
}

.tentang h3 {
	font-family: Chapaza;
}

/* about */
.about {
	background-color: #102128;
	margin-top: 79px;
	color: white;
}
.about .container {
	width: 100%;
	padding: 40px;
}
.about .container footer .col-lg-6 .col-md-6 .col-sm-12 .col-xd-12 {
	font-family: Calibri;
	color: #eee;
}

/* copyright */
.copyright {
	color: rgb(40, 78, 94);
	background-color: #0f1517;
	font-size: 12px;
}
/* desktop version */
@media (min-width: 992px) {
	.nav-link {
		text-transform: uppercase;
		margin-right: 30px;
	}

	.nav-link:hover::after {
		content: "";
		display: block;
		border-bottom: 3px solid #017ed9;
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}
}
